.add-img-btn {
    padding: clamp(0.5rem, 1vw, 1rem);
    width: clamp(5rem, 10vw, 10rem);
    border: none;
    outline: none;
    color: white;
    background-color: #7b7fa1;
    cursor: pointer;
    border: solid 1px #7b7fa1;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin: 5px;
    &:hover {
        background-color: white;
        color: #7b7fa1;
    }
}