.dkinjobookmarked-card--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow: auto;

    transition: all 0.3s ease-in-out;
   .dkinjobookmarked-card-title {
        font-size: clamp(0.8rem, 2vw, 1.2rem);
        width: 100%;
        text-align: center;
    }
}