.main--container {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "search search"
                         "recommend near";
    height: 100%;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: white;
    place-items: center;
    overflow: auto;

    .search--container {
        font-family: 'Roboto', sans-serif;
        grid-area: search;
        align-self: flex-start;
        margin-top: 3rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        background-image: url("../../assets/images/searchbarimages/nightstreet.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: clamp(3rem, 10vw, 7rem);
        padding-left: clamp(3rem, 10vw, 5rem);
        padding-right: clamp(3rem, 10vw, 5rem);
        border-radius: 25px;
        width: 80vw;
        gap: clamp(2rem, 2vw, 3rem);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        animation: fade-in 1s ease-in-out;
        animation: 75s ease 0s normal none infinite running zoomin;

        .main--title {
            font-size: clamp(2.5rem, 5vw, 5rem);
            margin-bottom: 1rem;
            white-space: nowrap;
            font-family: 'Roboto Flex', sans-serif;
        }

        .main--tag {
            text-align: center;
            font-style: italic;
        }

        .create-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba($color: #ffffff, $alpha: 0.8);
            color: black;
            padding: 0.5rem;
            border-radius: 5px;
            border: none;
            width: 60%;
            font-size: clamp(0.9rem, 1.5vw, 1.3rem);
            font-weight: bold;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }

    .recommend--container {
        align-self: self-start;
        font-family: 'Roboto', sans-serif;
        grid-area: recommend;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "title title"
                             "cards cards";
        padding: clamp(1rem, 2vw, 2rem);
        width: 100%;
        gap: 1rem;
        display: grid;
        animation: fade-in 1s ease-in-out;
        border-right: black solid 2px;      
        h1 {
            grid-area: title;
            letter-spacing: 0.2rem;
            text-align: center;
            color: black;
            font-size: clamp(1rem, 2vw, 1.5rem);
            margin-bottom: 0.5rem;
        }
        .no-popular-msg {
            grid-area: cards;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            color: black;
        }
    }
}

@media screen and (max-width: 868px) {
    .main--container {
        display: flex;
        flex-direction: column;
        .search--container {
            animation: 75s ease 0s normal none infinite running mobile-zoomin;
            align-self: center;
            .create-btn {
                display: none;
            }
        }

        .recommend--container {
            grid-template-rows: 30px 1fr;
            border-right: none;
            margin-bottom: 1rem;
        }
        .near--container {
            grid-template-rows: 30px 1fr;
            border-left: none;
        }
    }
    
}