.login--container {
    position: fixed;
    top: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    background-color: rgba($color: #000000, $alpha: 0.5);

    .login {
        position: relative;
        font-family: "Roboto", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: clamp(1rem, 2vw, 2rem);
        border-radius: 5px;
        margin-bottom: clamp(6rem, 5vw, 10rem);
        gap: clamp(1rem, 2vw, 2rem);
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);
        .close-btn {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem;
            border: none;
            font-size: clamp(1rem, 2vw, 1.5rem);
            cursor: pointer;
            background-color: transparent;
            transition: all 0.3s ease-in-out;

            &:hover {
                scale: 1.2;
            }
        }
        .login--form--google-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            border: 1px solid lightgray;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);
            padding: 0.5rem;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            font-size: clamp(0.7rem, 1.5vw, 1rem);
            font-weight: bold;
            .login--google-icon {
                max-width: 50px;
            }

            &:hover {
                background-color: lightgray;
            }
        }

        h2 {    
            font-size: clamp(1rem, 2vw, 1.3rem);
        }
    }

    .login--form {
        display: flex;
        flex-direction: column;
        gap: clamp(1rem, 2vw, 2rem);

        .login--form--section {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;

            label {
                position: absolute;
                font-size: clamp(0.7rem, 1.5vw, 1rem);
                margin-bottom: 0.5rem;
                background-color: white;
                letter-spacing: 0.1rem;
            }

            input {
                margin-top: 0.5rem;
                font-size: clamp(1rem, 1.5vw, 1.5rem);
                padding: 0.5rem;
                border: 1px solid #29424E;
                border-radius: 5px;

            }
        }
        .login--form--submit-btn {
            margin-top: 1rem;
            padding: 0.5rem;
            border: 1px solid crimson;
            border-radius: 0.5rem;
            background-color: crimson;
            color: white;
            font-size: clamp(1rem, 1.5vw, 1.5rem);
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: white;
                color: crimson;
            }
        }
    }

    .auth--link {
        cursor: pointer;
        color: blue;
    }
    
}