.contactus--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;

    h1 {
        padding: clamp(3rem, 2vw, 5rem);
        font-size: clamp(1rem, 5vw, 3rem);
        text-align: center;
        line-height: clamp(2rem, 5vw, 6rem);
    }

    p {
        text-align: center;
        b {
            color: crimson;
        }
        i {
            color: blue
        }
    }
}