.modal--overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal--container {
        display: flex;
        border-radius: 5px;
        text-align: center;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: clamp(1rem, 5vw, 3rem);
        width: 50%;

        .modal-body {
            font-size: clamp(0.9rem, 2vw, 1.5rem);
        }

        .btn-grp {
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;

            .confirm {
                background-color: crimson;
                color: white;
                border: 1px solid crimson;
                border-radius: 5px;
                padding: 0.5rem 1rem;
                font-size: clamp(0.9rem, 2vw, 1.5rem);
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:hover {
                    background-color: white;
                    color: crimson;
                }
            }
            .cancel {
                border: 1px solid black;
                background-color: white;
                color: black;
                border-radius: 5px;
                padding: 0.5rem 1rem;
                font-size: clamp(0.9rem, 2vw, 1.5rem);
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}