.dkinjoviewer--container {
    grid-area: itineraries;
    display: grid;
    grid-template-rows: 50px 1fr;
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow: auto;

    .dkinjo--header {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: clamp(0.5rem, 1vw, 1rem);
        h1 {
            font-size: clamp(1rem, 1.5vw, 1.5rem);
        }

        .dkinjo-create-btn {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: clamp(0.5rem, 1vw, 1rem);
            border-radius: 5px;
            color: white;
            background-color: crimson;
            border: 1px solid crimson;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: crimson;
                background-color: white;
            }
        }
    }

    .dkinjo-cards--container {
        display: grid;
        gap: 0.3rem;
        overflow: auto;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        justify-items: center;
        padding: clamp(0.5rem, 1vw, 1rem);
        a {
            height: 100px;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            color: black;
            border-radius: 5px;
        }
    }
}

@media screen and (max-width: 768px) {
    .dkinjoviewer--container {
        grid-template-rows: 60px 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "dkinjoheader"
                             "dkinjolist";
        
        .dkinjo--header {
            grid-area: dkinjoheader;
            margin-top: 2rem;
            align-items: center;
            flex-direction: column;
            
            .dkinjo-create-btn {
                position: relative;
                transform: translateY(30%);
            }
        }

        .dkinjo-cards--container {
            grid-area: dkinjolist;
            margin-top: 2rem;
        }
    }
}