.overlay--container {
    position: fixed;
    // CENTERING
    left: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    // CENTERING
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.2);
    padding: clamp(1rem, 5vw, 10rem);
}

.createItinerary--container {
    display: grid;
    padding: clamp(1rem, 1.5vw, 1.5rem);
    background-color: white;
    border-radius: 5px;
    gap: 1rem;
    overflow: auto;
    grid-template-columns: 1fr 3fr;
    animation: fade-in 0.5s forwards ease-in-out;
    
    .createItinerary--form {
        display: flex;
        flex-direction: column;
        gap: clamp(1rem, 1.5vw, 1.5rem);

        .input-form {
            position: relative;
            display: flex;
            flex-direction: column;

            label {
                font-size: clamp(1rem, 1.5vw, 1rem);
                position: absolute;
                top: 14px;
                left: 5px;
                background-color: white;
            }
    
            input {
                margin-top: 1.5rem;
                font-size: clamp(1rem, 1.5vw, 1.5rem);
                padding: 0.5rem;
                border: 1px solid #426abd;
                border-radius: 5px;
            }

            textarea {
                font-family: Arial, Helvetica, sans-serif;
                margin-top: 1.5rem;
                font-size: clamp(1rem, 1.5vw, 1.5rem);
                padding: 0.5rem;
                border: 1px solid #426abd;
                border-radius: 5px;
                height: clamp(5rem, 5vw, 10rem);
            }
        }
        .itinerary-submit-btn, .itinerary-cancel-btn {
            font-size: clamp(1rem, 1.5vw, 1.5rem);
            padding: clamp(0.5rem, 1vw, 1rem);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }

        .itinerary-submit-btn {
            background-color: #434f59;
            color: white;
            &:hover {
                background-color: #5c6b77;
            }
        }

        .itinerary-cancel-btn {
            background-color: black;
            color: white;
            &:hover {
                background-color: white;
                color: black;
            }
        }
        .tag-container {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
        }
        .tag {
            margin-top: 10px;
            background-color: rgba($color: #d45a0d, $alpha: 1);
            color: white;
            font-weight: 550;
            border-radius: 10px;
            box-shadow: 0 0 5px rgba($color: #d45a0d, $alpha: 1);
            padding: clamp(0.5rem, 1vw, 0.7rem);
            animation: fade-in 0.5s forwards ease-in-out;
        }        
    }
}

@media screen and (max-width: 768px) {
    .overlay--container {
        margin-top: 2.5rem;
    }
    .createItinerary--container {
        grid-template-columns: 1fr;
        max-height: 85vh;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}
