nav {
    position: fixed;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #4b3b3b;
    
    .title {
        font-size: clamp(1.5rem, 3vw, 2rem);
        font-weight: bold;
        color: white;
    }

    .btn-grp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: clamp(15rem, 20vw, 20rem);
        font-size: clamp(1rem, 2vw, 1.5rem);

        a {
            text-decoration: none;
            padding: 0.5rem;
            border: 1px solid white;
            border-radius: 0.5rem;
            background-color: transparent;
            color: white;
            cursor: pointer;
        }
        button {
            padding: 0.5rem;
            border: 1px solid white;
            border-radius: 0.5rem;
            background-color: transparent;
            color: white;
            cursor: pointer;
            font-size: clamp(1rem, 2vw, 1.5rem);
        }
    }
}