nav {
    position: fixed;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: transparent;
    color: black;
    
    .title {
        cursor: pointer;
        font-size: clamp(1.5rem, 3vw, 2rem);
        font-weight: bold;
        color: inherit;
    }

    .btn-grp {
        display: flex;
        justify-content: flex-end;
        gap: clamp(1rem, 2vw, 2rem);
        font-size: clamp(0.7rem, 2vw, 1.5rem);

        a {
            text-decoration: none;
            padding: 0.5rem;
            border: 1px solid black;
            border-radius: 0.5rem;
            background-color: transparent;
            color: inherit;
            cursor: pointer;
            transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
        }
        button {
            padding: 0.5rem;
            border: 1px solid black;
            border-radius: 0.5rem;
            background-color: transparent;
            color: inherit;
            cursor: pointer;
            font-size: clamp(0.7rem, 2vw, 1.5rem);
            transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
        }

        // CHANGE THIS LATER
        a:hover, button:hover {
            background-color: black;
            color: white;
        }
    }
}