.display-comments--container {
    display: flex;
    flex-direction: column;
    margin: 10px 20px 10px 10px;
}

.display-comments--header {
    padding-left: 55px;
}

.add-comment--section  {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 55px 0 55px;
    margin-bottom: 20px;

    textarea {
        height: 100px;
    }
}