.signup--container {
    position: fixed;
    top: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    background-color: rgba($color: #000000, $alpha: 0.5);

    .signup {
        position: relative;
        font-family: "Roboto", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: clamp(1rem, 10vw, 2rem);
        border-radius: 5px;
        margin-top: clamp(1rem, 5vw, 10rem);
        margin-bottom: clamp(1rem, 5vw, 10rem);
        gap: clamp(1rem, 2vw, 2rem);
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);
        
        .close-btn {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem;
            border: none;
            font-size: clamp(1rem, 2vw, 1.5rem);
            color: black;
            cursor: pointer;
            background-color: transparent;
            transition: all 0.3s ease-in-out;

            &:hover {
                scale: 1.2;
            }
        }
        .signup--title {
            text-align: center;
            font-size: clamp(1rem, 2vw, 1.5rem);
            margin-bottom: 1rem;
        }
    }

    .signup--form {
        display: flex;
        flex-direction: column;
        gap: clamp(1rem, 2vw, 2rem);


        div {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;

            label {
                position: absolute;
                font-size: clamp(0.7rem, 1.5vw, 1rem);
                margin-bottom: 0.5rem;
                background-color: white;
                letter-spacing: 0.1rem;
            }

            input {
                margin-top: 0.5rem;
                font-size: clamp(1rem, 1.5vw, 1.1rem);
                padding: 0.5rem;
                border: 1px solid #29424E;
                border-radius: 5px;
            }
            input[type=password] {
                font-size: clamp(0.6rem, 1.5vw, 1rem);
                padding: 0.8rem;
            }
        }
        .signup--form--submit-btn {
            margin-top: 1rem;
            padding: 0.5rem;
            border: 1px solid crimson;
            border-radius: 0.5rem;
            background-color: crimson;
            color: white;
            font-size: clamp(1rem, 1.5vw, 1.5rem);
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: white;
                color: crimson;
            }
        }
        .termsconditions-box {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            label
            {
                position: relative;
                font-size: clamp(0.5rem, 1.5vw, 0.8rem);
                align-self: center;
                text-align: center;
            }
            input {
                margin-bottom: 1rem;
            }
        }
        
    }
    .auth--link {
        cursor: pointer;
        color: blue;
    }
}