.dprofile--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: clamp(1rem, 2vw, 2rem);
    border-radius: 5px;
    background-color: white;
    overflow-y: auto;
    border: solid 1px lightgray;

    .dprofile-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: clamp(100px, 20vw, 250px);
        width: clamp(100px, 20vw, 250px);
        border-radius: 50%;
        background-color: #d3d3d3;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    
    .dprofile-followers {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(0.8rem, 2vw, 0.9rem);
        gap: 1rem;
        padding: 1rem;
        border-radius: 5px;

        .follow-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            .follow-link {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                font-size: clamp(0.8rem, 2vw, 1.2rem);
                padding: 0.5rem;
                border-radius: 5px;
                color: crimson;
                border: none;
                cursor: pointer;

                &:hover {
                    background-color: lightgray;
                }
            }
        }
    }

    .dprofile-info {
        font-size: clamp(0.8rem, 2vw, 1.2rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dprofile-edit-btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: medium;
        padding: clamp(0.5rem, 1vw, 1rem);
        border-radius: 5px;
        background-color: #d3d3d3;
        border: none;

        &:hover {
            background-color: #b3b3b3;
        }
    }
}

.popup--overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.3);

    .popup--container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: clamp(1rem, 2vw, 2rem);
        border-radius: 5px;
        background-color: white;
        border: solid 1px lightgray;

        .close-btn {
            position: absolute;
            top: 3px;
            right: 0;
            scale: 1.1;
            background-color: transparent;
            border: none;
            cursor: pointer;
            &:hover {
                scale: 1.2;
            }
        }
    }
}