.profiledashboard--container {
    font-family: 'Roboto', sans-serif;
    padding: clamp(2rem, 2vw, 10rem);
    padding-left: clamp(5rem, 10vw, 10rem);
    padding-right: clamp(5rem, 10vw, 10rem);
    height: 90vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "profile map map"
                         "profile itineraries bookmarked";
    gap: clamp(1rem, 2vw, 2rem);
    
    .dprofile--container {
        grid-area: profile;
    }
}


@media screen and (max-width: 768px) {
    .profiledashboard--container {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "profile"
                             "map"
                             "itineraries"
                             "bookmarked";
        height: auto;

        padding-left: clamp(1rem, 2vw, 2rem);
        padding-right: clamp(1rem, 2vw, 2rem);
    }
}