.dkinjobookmarked--container {
    grid-area: bookmarked;
    display: grid;
    grid-template-rows: 50px 1fr;
    border: 1px solid lightgray;
    border-radius: 5px;

    .dkinjobookmarked--header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: clamp(0.5rem, 1vw, 1rem);
        h1 {
            font-size: clamp(1rem, 1.5vw, 1.5rem);
        }
    }

    .dkinjobookmarked-cards--container {
        display: grid;
        gap: 0.3rem;
        overflow: auto;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        justify-items: center;
        padding: clamp(0.5rem, 1vw, 1rem);
        a {
            height: 100px;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            color: black;
            border-radius: 5px;
        }
    }
}

@media screen and (max-width: 768px) {
    .dkinjobookmarked--container {
        grid-template-rows: 60px 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "dkinjobookmarkheader"
                             "dkinjobookmarklist";
        
        .dkinjobookmarked--header {
            grid-area: dkinjobookmarkheader;
            align-items: center;
            flex-direction: column;
        }
    }
}